html, body{
	height: 100%;	
}

body{
	margin: 0px; 
	padding: 0px;
}

@viewport{
	zoom: 1.0;
	width: extend-to-zoom;
}

/* -- Scrolbar style -- */

::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(37, 67, 114,0.75); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(37, 67, 114,0.35); 
}


/* -- Navbar style -- */
.navbar-inverse{
	border-radius: 0 !important;
	background-color: #254372 !important;
	border:0 !important;
}

.nav{
	font-family: 'Raleway', sans-serif;
	font-size:1.2em;
	background-color:#254372;
	list-style: none;
}

.nav li a{
  color: white !important;
  text-decoration: none;
  /*padding: 10px 15px 10px 15px !important;*/
}

#ctanch{
	margin-right: 30px;
}

.active{
	background-color:#254372 !important;
	border-radius: 1px !important;
}

.nav li a:hover{
  color:black !important;
  background: rgb(238,238,238) !important;
  border-radius: 1px !important;
}

.navbar{
	min-height:37px !important;
	margin-bottom:12% !important;
}


/* -- Home div -- */


#home-div{
	background-image:url("home.jpg");
	height: 640px;
	margin-top:50px;
	vertical-align: middle;
}

#banner{
	padding-top: 10%;
}

.block{
  background-color:black;
  opacity:.75;
  padding:6px;
  font-family:'Lobster';
  min-width: 200px;
	max-width: 600px;
  border-radius:7px;
	margin:auto;
}

.block h1{
  margin-bottom:4px;
  font-size:90px;
  color:white;
}
.block h3{
  margin-top:0;
  font-size:30px;
  color:white;
}

/* -- About div -- */

.before #about-div{
	height: 480px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}

.after #about-div{
	height: 660px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
#about-div h1{
	padding-top:20px;
}

#about-div h3{
	padding-top: 15px;
	font-family: 'Raleway', sans-serif;
}

/* -- Projects div -- */

.before #proj-div{
	text-align: center;
	height: 750px;
}

.after #proj-div{
	text-align: center;
	height: 1200px;
}

.after .botm{
	margin-top:25px;
}

#proj-div h1{
	margin-top:25px;
}

#proj-div .row{
	margin-top:30px;
}


figcaption{
	margin: auto;
	font-family: 'Oswald', sans-serif;
	font-size: 1.7em;
	width: 400px;
	height: 50px;
	padding:5px;
	background-color: #e8e8e8;
}


/* -- Contact div -- */
#contact-div{
	position: relative;
	height: 170px;
	background-color:#1b3256;
	color:white;
}

.logos{
	margin-left: 3px;
}

.col-sm-3{
	text-align: left;
}

/* ---- Phone ---- */
@media screen and (orientation:portrait) {
	
	#banner{
		padding-top: 50% !important;
	}
	
	#home-div{
		background-image:url("home_phone.jpg");
	}
	
	.block{
		background-color:black;
		opacity:.75;
		padding:2px;
		font-family:'Lobster';
		width:90wv;
		border-radius:7px;
		margin:auto;
	}
	.block h1{
		margin-bottom:2px;
		font-size: 3.9em;
		color: white;
	}
	.block h3{
		margin-top: 0;
		font-size: 1.6em;
		color: white;
	}
	
	#proj-div{
		height: 160vh !important;
	}
	
	#proj-div img{
		width: 80vw;
		height: 25vh;
	}
	
	#proj-div figcaption{
		margin: auto;
		font-family: 'Oswald', sans-serif;
		font-size: 1.4em;
		width: 80vw;
		height: 12vw;
		padding:5px;
		background-color: #e8e8e8;
	}
	#about-div img{
		width: 80vw;
		height: 31vh;
	}
	.after #about-div{
		height: 650px !important;
		border-bottom:1px solid rgba(0,0,0,0.2);
	}
	
	#about-div h3{
		text-align:left;
		font-size:1.3em;
		padding-top: 15px;
		font-family: 'Raleway', sans-serif;
	}
	
	#ctanch{
		margin-right: 0;
	}
	
	.find{
		text-align: left;
		margin-bottom: 5px !important;
	}
}
@media screen and (max-width: 321px){
	#proj-div figcaption{
		margin: auto;
		font-family: 'Oswald', sans-serif;
		font-size: 1.2em;
		width: 80vw;
		height: 12vw;
		padding:5px;
		background-color: #e8e8e8;
	}
}

@media screen and (max-width: 770px) {
	#ctanch{
		margin-right: 0;
	}
}

@media screen and (min-width: 1400px) {
	#home-div{
		background-image:url("home_big.jpg");
	}
}
